@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  --blue:#6840ff;
  --blue_faded:#6940ff05;
  --blue_faded1:#f3f0ff;
  --white:#fff;
  --radius:0.625rem;
  --background:oklch(1 0 0);
  --foreground:oklch(0.145 0 0);
  --card:oklch(1 0 0);
  --card-foreground:oklch(0.145 0 0);
  --popover:oklch(1 0 0);
  --popover-foreground:oklch(0.145 0 0);
  --primary:oklch(0.205 0 0);
  --primary-foreground:oklch(0.985 0 0);
  --secondary:oklch(0.97 0 0);
  --secondary-foreground:oklch(0.205 0 0);
  --muted:oklch(0.97 0 0);
  --muted-foreground:oklch(0.556 0 0);
  --accent:oklch(0.97 0 0);
  --accent-foreground:oklch(0.205 0 0);
  --destructive:oklch(0.577 0.245 27.325);
  --border:oklch(0.922 0 0);
  --input:oklch(0.922 0 0);
  --ring:oklch(0.708 0 0);
  --chart-1:oklch(0.646 0.222 41.116);
  --chart-2:oklch(0.6 0.118 184.704);
  --chart-3:oklch(0.398 0.07 227.392);
  --chart-4:oklch(0.828 0.189 84.429);
  --chart-5:oklch(0.769 0.188 70.08);
  --sidebar:oklch(0.985 0 0);
  --sidebar-foreground:oklch(0.145 0 0);
  --sidebar-primary:oklch(0.205 0 0);
  --sidebar-primary-foreground:oklch(0.985 0 0);
  --sidebar-accent:oklch(0.97 0 0);
  --sidebar-accent-foreground:oklch(0.205 0 0);
  --sidebar-border:oklch(0.922 0 0);
  --sidebar-ring:oklch(0.708 0 0)}
*{box-sizing: border-box;}

::selection {
  background-color: var(--blue);
  color: var(--white)
}

.input_box { outline: none; border: 1px solid rgba(156, 163, 175, 0.4); border-radius: 0.5rem; padding: 0.75rem; display: block; width: 100%; background-color: rgba(255, 255, 255, 0.5); transition: all 0.3s; border-color: rgba(156, 163, 175, 0.4); font-size: 0.875rem; min-height: 48px; }
.input_box:hover { border-color: rgba(156, 163, 175, 0.8); }
.input_box:focus { border-color: rgb(156, 163, 175); box-shadow: 0 0 0 1px rgba(156, 163, 175, 0.2); }
.dark .input_box { background-color: rgba(0, 0, 0, 1); color: white; border-color: rgba(255, 255, 255, 0.1); }
._phninp .special-label{display: none;}
._phninp input{background:none;border:none;outline:none;width:100%;display: block;}
._phninp option{background:#062343;font-size: 80%;padding:20px;transition:300ms ease}

button{cursor: pointer;}

@theme inline {
  --color-blue:#6840ff;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring:var(--sidebar-ring);
  --color-sidebar-border:var(--sidebar-border);
  --color-sidebar-accent-foreground:var(--sidebar-accent-foreground);
  --color-sidebar-accent:var(--sidebar-accent);
  --color-sidebar-primary-foreground:var(--sidebar-primary-foreground);
  --color-sidebar-primary:var(--sidebar-primary);
  --color-sidebar-foreground:var(--sidebar-foreground);
  --color-sidebar:var(--sidebar);
  --color-chart-5:var(--chart-5);
  --color-chart-4:var(--chart-4);
  --color-chart-3:var(--chart-3);
  --color-chart-2:var(--chart-2);
  --color-chart-1:var(--chart-1);
  --color-ring:var(--ring);
  --color-input:var(--input);
  --color-border:var(--border);
  --color-destructive:var(--destructive);
  --color-accent-foreground:var(--accent-foreground);
  --color-accent:var(--accent);
  --color-muted-foreground:var(--muted-foreground);
  --color-muted:var(--muted);
  --color-secondary-foreground:var(--secondary-foreground);
  --color-secondary:var(--secondary);
  --color-primary-foreground:var(--primary-foreground);
  --color-primary:var(--primary);
  --color-popover-foreground:var(--popover-foreground);
  --color-popover:var(--popover);
  --color-card-foreground:var(--card-foreground);
  --color-card:var(--card);
  --radius-sm:calc(var(--radius) - 4px);
  --radius-md:calc(var(--radius) - 2px);
  --radius-lg:var(--radius);
  --radius-xl:calc(var(--radius) + 4px);
}

body {
  max-width: 100vw;overflow-x: hidden;
}

.hero_div span{color:var(--blue)}
.htop{color:var(--blue);background:var(--blue_faded1)}
.hero{background:var(--blue_faded);position:relative}
.hero_img{position:absolute;top:0;left:0;height:100%;width: 100%;z-index:0;opacity: .1;}
.hero_div{position:relative;z-index:2}
.fol{background:var(--blue_faded1);border-right:2px solid var(--blue)}
.btn{cursor: pointer;transition:300ms ease}
.btn:hover{filter:brightness(110%)}
.btn:disabled{pointer-events: none;opacity: .5;}
.btn_pri{color:var(--white);background:var(--blue);border:1px solid var(--blue)}
.btn_sec{color:var(--blue);background:var(--blue_faded1);border:1px solid #eee}
.hrimg{animation:upDown 5s linear infinite}

nav{z-index:5;backdrop-filter: blur(3px);}
.bl_un{color:var(--blue);position:relative;z-index:1}
.bl_un::after{content:'';position:absolute;bottom:-12px;left:5%;height:40px;width:100%;z-index:-1;background:url('/icons/underline.svg');background-size: contain;background-repeat: no-repeat;background-position: right}
.stack_div:nth-of-type(2), .stack_div:nth-of-type(4){background:var(--blue);color:var(--white)}
.stack_div:nth-of-type(1), .stack_div:nth-of-type(3){background:var(--blue_faded1);color:var(--blue)}
.stack_div:nth-of-type(1){top:16vh}
.stack_div:nth-of-type(2){top:24vh}
.stack_div:nth-of-type(3){top:32vh}
.stack_div:nth-of-type(4){top:40vh}
.stack_div{display: grid;grid-template-columns: 35% 1fr;position:sticky}

.wdpd{position:relative;overflow: hidden;}
.wdpd::after{content:'';height: 115%;width:115%;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);background:url('/images/hero.png');z-index:-1;opacity: .1;filter: grayscale(.8) blur(2px);}

.wcp_div{display: grid;grid-template-columns: 60% 1fr;}
/* section.wcp{background:var(--blue_faded)} */
.wcp{position:relative;overflow: hidden;}
.wcp::after{content:'';height: 80%;width:90%;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);background:url('/images/grid_lines.png');z-index:-1;opacity: .08}
.menu{display:flex;align-items: center;justify-content: space-between; width: 80%;}
.menu_ul{display: flex;align-items: center;justify-content: center;width: 70%;}
.menu_lia{transition:300ms ease;cursor: pointer;padding:10px 20px;border-radius: 20px;font-weight: 500;position:relative}
.menu_lia::after{content:'';position:absolute;bottom:0;height:2px;width:100%;left:50%;transform:translate(-50%,-50%) scaleX(0);background:var(--blue);transform-origin: left;transition:300ms ease}
.menu_lia:hover::after{transform:translate(-50%,-50%) scaleX(.7);transform-origin:center}
.menu_lia:hover{color:var(--blue)}
.menu_toggle{display: none;}
body:has(.bsht){height:100vh;overflow: hidden;}

body.noscroll{height:100vh;overflow: hidden;}

@keyframes upDown {
  0%{transform: translateY(-2px);}
  50%{transform: translateY(2px);}
  100%{transform: translateY(-2px);}
}

@media (max-width:640px){
  .stack_div, .wcp_div{grid-template-columns: 1fr}
  .menu_lia::after{display: none;}
  .menu{position:absolute;flex-direction: column;height:auto;top:-100vh;width:100vw;z-index:3;min-height: 50vh;left:0;transition:200ms ease;background:var(--white);box-shadow:0 10px 20px #6940ff53;padding-top:8vh;opacity: 0;}
  .menu_ul{width:100%;flex-direction: column;align-items: start;}
  .menu_lia{font-size: 130%;padding:16px;display: block;width:100%; }
  .menu_ul li{display: block;width:100%;}
  .logo_a{position:relative;z-index:5}
  .menu_ul li:not(:first-child){border-top:1px solid #eee}
  .menu_toggle{display:block;position:relative;width:28px;height:28px;border:none;cursor:pointer;z-index:5}
  .menu_line{width:100%;height:3px;background:var(--blue);transition:300ms ease;transform-origin:center;position:absolute;top:50%;left:0;transform:translateY(-50%);z-index:5}
  .menu_line::before,.menu_line::after{position:absolute;content:'';background:var(--blue);height:3px;width:100%;left:0;transition:transform 300ms ease,opacity 300ms ease;transform-origin:center;}
  .menu_line::before{top:-8px;}
  .menu_line::after{top:8px;}
  nav.show .menu_line{background:transparent}
  nav.show .menu_line::before{transform:translateY(8px) rotate(45deg);}
  nav.show .menu_line::after{transform:translateY(-8px) rotate(-45deg);}
  nav.show .menu{top:0;opacity: 1;}
  body:has(nav.show){height:100vh;overflow: hidden;}
  .bl_un::after{bottom:-16px}
}

.dark {
  --background:oklch(0.145 0 0);
  --foreground:oklch(0.985 0 0);
  --card:oklch(0.205 0 0);
  --card-foreground:oklch(0.985 0 0);
  --popover:oklch(0.205 0 0);
  --popover-foreground:oklch(0.985 0 0);
  --primary:oklch(0.922 0 0);
  --primary-foreground:oklch(0.205 0 0);
  --secondary:oklch(0.269 0 0);
  --secondary-foreground:oklch(0.985 0 0);
  --muted:oklch(0.269 0 0);
  --muted-foreground:oklch(0.708 0 0);
  --accent:oklch(0.269 0 0);
  --accent-foreground:oklch(0.985 0 0);
  --destructive:oklch(0.704 0.191 22.216);
  --border:oklch(1 0 0 / 10%);
  --input:oklch(1 0 0 / 15%);
  --ring:oklch(0.556 0 0);
  --chart-1:oklch(0.488 0.243 264.376);
  --chart-2:oklch(0.696 0.17 162.48);
  --chart-3:oklch(0.769 0.188 70.08);
  --chart-4:oklch(0.627 0.265 303.9);
  --chart-5:oklch(0.645 0.246 16.439);
  --sidebar:oklch(0.205 0 0);
  --sidebar-foreground:oklch(0.985 0 0);
  --sidebar-primary:oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground:oklch(0.985 0 0);
  --sidebar-accent:oklch(0.269 0 0);
  --sidebar-accent-foreground:oklch(0.985 0 0);
  --sidebar-border:oklch(1 0 0 / 10%);
  --sidebar-ring:oklch(0.556 0 0);}

@layer base {
  * {
    @apply border-border outline-ring/50;}
  body {
    @apply bg-background text-foreground;}}